body{
  background-color: #F2F8FB;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

a {
  color: #05676e;
}

a:hover {
  text-decoration: none; /* No underlining when hovering over a link */
}

a:hover,
a:focus {
  text-decoration: none;
}
